<html>

<head>
  <title>Modern Webpage</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
  </style>
  <section class="principal">
    <div class="navbar">
      <div class="logo">
        <strong>Modern</strong>
        <div class="icon">
          <svg id="Capa_1" x="0px" y="0px" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
            <g>
              <polygon style="fill:#418CFC;" points="29,58 3,45 3,13 29,26 	" />
              <polygon style="fill:#3A80E2;" points="29,58 55,45 55,13 29,26 	" />
              <polygon style="fill:#418CFC;" points="3,13 28,0 55,13 29,26 	" />
            </g>
          </svg>
        </div>
        <strong>Webpage</strong>
      </div>
      <div class="menu">
        <ul>
          <li>Products</li>
          <li>Blog</li>
          <li>About</li>
          <li>Contact</li>
          <li> <%= age %></li>
        </ul>
      </div>
    </div>
    <div class="introduce">
      <div class="big-lemma"> You can create</div>
      <div class="big-lemma"> the web of your dreams</div>
      <div class="sub-lemma"> with the totally new html5 and css3 technologies, give them a try ;)</div>
      <button class="trial"> Start your free trial</button>
      <small> no money required.</small>
    </div>
    <div class="description">
      <div>
        <div class="logoD">
          <i class="material-icons">web</i>
          HTML5
        </div>
        <div class="textD">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non lacus risus. Vivamus et diam eu neque porta sollicitudin. Sed ornare lobortis risus eget cursus. Phasellus tempor eleifend tincidunt
        </div>
      </div>
      <div>
        <div class="logoD">
          <i class="material-icons">visibility</i>
          CSS3
        </div>
        <div class="textD">
          Morbi luctus ligula elit, non ornare ipsum cursus sed. Suspendisse quis urna ac nunc porttitor facilisis id sed turpis. Aenean augue purus, imperdiet non arcu nec, viverra maximus leo. Vestibulum imperdiet pharetra lacinia. Vestibulum in tellus a velit maximus
        </div>
      </div>
      <div>
        <div class="logoD">
          <i class="material-icons">build</i>
          JAVASCRIPT
        </div>
        <div class="textD">
          Nunc ut tortor ac mi viverra consequat. Ut vulputate velit eu odio congue, a molestie orci eleifend. Pellentesque congue accumsan quam. Phasellus ac tincidunt lorem. Cras a rutrum nisi. Phasellus in interdum mauris, eu rutrum ex. Nunc eget dictum sapien.
        </div>
      </div>
    </div>
    <div class="opinion">
      <div class="inside">
        <div class="imageO">
          <img src="https://avatars0.githubusercontent.com/u/5733463?s=460&v=4">
        </div>
        <div class="textO">
          <i>"Damn bro, after one year of using these technologies we’ve had our highest revenue-generating year so far. We exceeded our yearly goal, hitting it one month sooner than expected!"</i>
          <br>
          <small>-Jhon Doe, Creative Headhunter</small>
        </div>
      </div>
    </div>
    <footer>
      <div class="left">
        OH, HELLO.
        <br>
        <br>
        Want to talk? Drop me a line. I'm always interested in new projects, opportunities, or just chatting.
        <br>
        <hr>
        <a href="http://migu.es">migu.es</a>
      </div>
      <div class="right">© 2019 MIGUEL RODRIGUEZ</div>
    </footer>
  </section>

  <script src="../javascript/script.js"></script>
</body>

</html>